<section class="s1">
    <div class="main-container">
        <div class="greeting-wrapper" data-aos="zoom-in-down">
            <h1>Hi, I'm Nidhey Indurkar</h1>

        </div>

        <div class="intro-wrapper">
            <div class="nav-wrapper">
                <!-- Link around dots-wrapper added after tutorial video -->
                <a href="/home">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dot"></div>
                        <div id="dot-2" class="browser-dot"></div>
                        <div id="dot-3" class="browser-dot"></div>
                    </div>
                </a>

                <ul id="navigation">
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <div class="left-column">
                <img data-aos="zoom-in-up" alt="profile" id="profile_pic" src="assets/profile/profile_1.jpg" />
                <h5 style="text-align: center; line-height: 0">
                    Personalize Theme
                </h5>

                <div id="theme-options-wrapper">
                    <div data-mode="light" id="light-mode" class="theme-dot"></div>
                    <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                    <div data-mode="green" id="green-mode" class="theme-dot"></div>
                    <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                </div>

                <p id="settings-note">
                    *Theme settings will be saved for<br />your next vist
                </p>
            </div>

            <div class="right-column">
                <div id="preview-shadow">
                    <div id="preview" data-aos="zoom-in">
                        <div id="corner-tl" class="corner"></div>
                        <div id="corner-tr" class="corner"></div>
                        <h3>What I Do</h3>
                        <!-- <b>Breaking things until they work.</b > -->
                        <p>{{whatIDo[randomIndex]}}</p>
                        <!-- <p>
                            I'm a Software Engineer who likes to code, drink coffee, and occasionally argue with my computer screen.
                        </p>
                        <p>
                            I'm a software engineer who's constantly trying to break things, but don't worry - I always make sure they work again before anyone notices!
                        </p>
                        <p>
                            I'm a software engineer who's not afraid to break a few eggs to make an omelette... or in my case, break a few lines of code to make an awesome app!
                        </p> -->
                        <div id="corner-br" class="corner"></div>
                        <div id="corner-bl" class="corner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s2">
    <div class="main-container">
        <div class="about-wrapper">
            <div class="about-me" data-aos="zoom-in-left">
                <h4>More about me</h4>
                <p>
                    I'm an <b>Atmanirbhar</b> person who always find ways to work on
                    myself and tries to learn, explore and teach others as much as I
                    can. I have completed my graduation in Computer Science &
                    Engineering and started my own startup named as “Swirlly” in 2<sup>nd</sup>
                    year of Engineering. Apart from Programming, Reading & Writing are
                    some of my hobbies that I passionately works on. Recently I
                    started blogging and got interested in writing.
                </p>
                <p>
                    Never give-up is the spirit, which helps me achieve everything
                    what I have today.
                </p>

                <hr />

                <h4>TOP EXPERTISE</h4>

                <p>
                    Fullstack developer with primary focus on MEAN Stack:
                    <a target="_blank" href="assets/Nidhey_MAR_2023.pdf">Download Resume</a>
                </p>

                <div id="skills">
                    <ul>
                        <li *ngFor="let skill of techinicalSkills | slice:0:techinicalSkills.length/2">
                            {{skill}}
                        </li>
                    </ul>
                    <ul>
                        <li
                            *ngFor="let skill of techinicalSkills | slice:techinicalSkills.length/2:techinicalSkills.length">
                            {{skill}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="social-links" data-aos="zoom-in-right">
                <img alt="cover" id="social_img" src="assets/profile/cover_1.jpg" />
                <h3>Find me on Instagram & LinkedIn</h3>

                <a target="_blank" href="https://www.instagram.com/nyctophiliac_nid/">Instagram: @nyctophiliac_nid</a>
                <br />
                <a target="_blank" href="https://www.linkedin.com/in/nidhey-indurkar-a9638b179/">LinkedIn:
                    @NidheyIndurkar</a>
            </div>
        </div>
    </div>
</section>

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center">Exploring the World Through My Lens</h3>

        <div class="post-wrapper">

            <div *ngFor="let blog of blogs; let i = index">
                <div class="post" data-aos="zoom-in-up">
                    <img alt="{{blog?.title}}" class="thumbnail" src="{{blog?.thumbnail}}" />
                    <div class="post-preview">
                        <h6 class="post-title">
                            {{blog?.title}}
                        </h6>
                        <p class="post-intro">
                            {{blog?.description}}
                        </p>
                        <a (click)="navigate(blog.id)">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="s">
    <div class="main-container">

        <h4 style="text-align: center">Pursuing My Passions: A Catalog of My Personal Projects & Technical Blogs</h4>
        <div class="post-wrapper">
            <div *ngFor="let o of personalProjects" >
                <div  class="post" data-aos="zoom-in-up">
                    <img alt="{{o.name}}" class="thumbnail" src="{{o.thumbnail}}" />
                    <div class="post-preview">
                        <h6 class="post-title">
                            {{o.name}}
                        </h6>
                        <p class="post-intro">
                            {{o.description}}
                        </p>
                        <a routerLink="/be-safe">Read More</a>
                    </div>
                </div>
            </div>
            <div  class="post" data-aos="zoom-in-up">
                <img alt="hitvada-ppr" class="thumbnail" src="https://www.thehitavada.com/Encyc/2021/6/29/2_08_33_40_Nagpur-budding_1_H@@IGHT_201_W@@IDTH_555.jpg" />
                <div class="post-preview">
                    <h6 class="post-title">
                        ‘Be Aware’ app is a matter of discussion in Regina city of Canada 
                    </h6>
                    <p class="post-intro">
                        <!-- <b>‘Be Aware’</b> app is a matter of discussion in Regina city of Canada  -->

                        A group of city-based engineering students brought laurels to Nagpur by developing a road safety mobile application ‘Be Aware’ for Canada recently. Five students Vedant Boratkar (J D College of Engineering and Management) ...
                    </p>
                    <a target="_blank" href="https://www.thehitavada.com/Encyc/2021/6/29/Nagpur-s-budding-engineers-develop-road-safety-app-for-Canada-s-Regina-city.html">Read More</a>
                </div>
            </div>
            
        </div>

    </div>
</section>
<section class="s1">
    <div class="main-container">

        <h4 style="text-align: center">Open Doors to Collaboration: My Open-Source Contributions</h4>
        <div class="post-wrapper">
            <div *ngFor="let o of opensourceContributions">
                <div class="post" data-aos="zoom-in-up">
                    <img alt="{{o.name}}" class="thumbnail" src="{{o.thumbnail}}" />
                    <div class="post-preview">
                        <h6 class="post-title">
                            {{o.name}}
                        </h6>
                        <p class="post-intro">
                            {{o.description}}
                        </p>
                        <a *ngFor="let pr of o.prs; let i = index" target="_blank" href="{{pr}}">PR-{{i + 1}} | </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--  -->
<app-footer></app-footer>