<app-nav></app-nav>
<div class="main-container">
    <br>

    <div class="img-container">
        <img src="assets/projects/besafe.png">
        <!-- <video autoplay controls src="./images/3idiots.mp4" poster="./images/money-happy.jpg"></video> -->
    </div>

    <h3>Be Safe
    </h3>



    <p>As a tech enthusiast, I have always been passionate about creating solutions to real-world problems. <b> When my
            girlfriend expressed her concerns about safety and the fear of sexual harassment and violence against women,
            it
            sparked an idea in me to create a safety app that would help women feel more secure.</b></p>

    <p>Together with my best friend <a target="_blank" href="https://www.linkedin.com/in/mayuri-wandhe-926b16209">
            <i>Mayuri Wandhe</i>
        </a>, I developed the app <b>'Be Safe'</b> Our main goal was to design an
        application that would focus on personal safety and provide women with the essential features they need to feel
        secure. <b> We included GPS tracking, emergency numbers, and directions to safe areas, among other features.</b>
    </p>

    <p><b>
            What sets our app apart is the alert button that sends alerts with your location to your loved ones in a
            situation
            of distress. We also added a feature that allows users to send alerts even if their phone is switched off by
            shaking
            it for three seconds.
        </b></p>

    <p>Our aim was to create an app that would empower women to live freely and confidently. We believe that safety
        should
        not be a concern that holds women back from traveling alone or with friends. By developing this safety app, we
        hope
        to make a positive impact on the lives of women and their loved ones.</p>

    <p>Additionally, we realized that this app could be beneficial to nannies and children. We wanted to provide a tool
        that would give parents peace of mind and allow them to know that their loved ones are safe wherever they are.
    </p>

    <p><i>
            Overall, we are proud to have developed this safety app as a side project, and we hope it will make a
            difference
            in
            the lives of people who use it.
        </i></p>

    <br> <br>
    <a class="mybtn" href="https://bit.ly/3S9jOyW">Download Now</a>

    <br> <br>
    <small>
        <i>
            *This app is currently under development phase, we want suggestions & bug reports from you guys so that we
            can
            create a robhut mobile app.
        </i>
    </small>

    <div>
        <p class="text-align-end">
            Made with ❤️ <br>
            <i>by Nidhey Indurkar & </i>
            <a target="_blank" href="https://www.linkedin.com/in/mayuri-wandhe-926b16209">
                <i>Mayuri Wandhe</i>
            </a>
            <br>

            <!-- Edited by ~
            <a target="_blank"
                href="https://www.linkedin.com/in/aparna-sharma-5b78971b5/?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAADIke5sBjsYn1NzpBWwAbZn5gTn-MuL6TNc">Aparna
                Sharma</a> -->
        </p>
    </div>
</div>