img {
    width: 100%;
}

.img-container {
    max-width: 600px;
}

.text-align-end {
    text-align: end;
}

video {
    width: 100%;
}




.mybtn {
    border-radius: 3px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #677daf;
    color: #fff;
    transition-delay: .2s;
    transition: .3s;
    font-variant-caps: all-small-caps;
    box-shadow: 4px 3px 11px 0 #677daf;
    margin-bottom: 1rem;
}
